<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inventory.myinventorysystem.inventorysystem">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.inventory.myinventorysystem.inventorysystem.Screens.AccountActivity"
            android:parentActivityName="com.inventory.myinventorysystem.inventorysystem.Screens.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.inventory.myinventorysystem.inventorysystem.Screens.ReportsActivity"
            android:parentActivityName="com.inventory.myinventorysystem.inventorysystem.Screens.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.inventory.myinventorysystem.inventorysystem.Screens.RequestDetail"
            android:parentActivityName="com.inventory.myinventorysystem.inventorysystem.Screens.RequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.inventory.myinventorysystem.inventorysystem.Screens.RequestActivity"
            android:parentActivityName="com.inventory.myinventorysystem.inventorysystem.Screens.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.inventory.myinventorysystem.inventorysystem.Screens.ProductDetail"
            android:parentActivityName="com.inventory.myinventorysystem.inventorysystem.Screens.SupplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.inventory.myinventorysystem.inventorysystem.Screens.AddProductActivity"
            android:parentActivityName="com.inventory.myinventorysystem.inventorysystem.Screens.SupplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.inventory.myinventorysystem.inventorysystem.Screens.SupplyActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.inventory.myinventorysystem.inventorysystem.Screens.HomePage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.inventory.myinventorysystem.inventorysystem.Screens.HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.inventory.myinventorysystem.inventorysystem.Screens.RegisterActivity"
            android:parentActivityName="com.inventory.myinventorysystem.inventorysystem.Screens.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.inventory.myinventorysystem.inventorysystem.Screens.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.inventory.myinventorysystem.inventorysystem.SearchProvider.SearchSuggestionProvider"
            android:authorities="com.example.MySuggestionProvider" />
    </application>

</manifest>